<div class="brands-row-wrap">
    <div class="container">
        <div class="brands-row__title">Выберите бренд котла</div>
        <div class="brands-row">
            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="De Dietrich">
                <span>De Dietrich</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="Kentatsu Furst">
                <span>Kentatsu Furst</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="SunSystem">
                <span>SunSystem</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="Protherm">
                <span>Protherm</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="Vaillant">
                <span>Vaillant</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="Эван">
                <span>Эван</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="SunSystem">
                <span>SunSystem</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="De Dietrich">
                <span>De Dietrich</span>
            </div>

            <div class="brands-row-item" data-brands-row-item>
                <input type="checkbox" value="Kentatsu Furst">
                <span>Kentatsu Furst</span>
            </div>

            <div class="brands-row-toggle" data-brands-row-togle>Все...</div>
        </div>
    </div>
</div>