<div class="brands-wrap">
	<div class="container">
		<div class="brands">
			<div class="brands__item">
				<img src="/images/brand-viesmann.png" alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-flotec.png" alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-baxi.png" alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-biasi.png" alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-de-detich.png" alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-electrolux.png" alt="">
			</div>
		</div>
	</div>
</div>