<div class="brands-wrap">
	<div class="container">
		<div class="brands">
			<div class="brands__item">
				<img src="/images/brand-viesmann.png"
				     srcset="/images/brand-viesmann.png 210w, /images/brand-viesmann@2x.png 420w"
				     alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-flotec.png"
				     srcset="/images/brand-flotec.png 210w, /images/brand-flotec@2x.png 420w"
				     alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-baxi.png"
				     srcset="/images/brand-baxi.png 210w, /images/brand-baxi@2x.png 420w"
				     alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-biasi.png"
				     srcset="/images/brand-biasi.png 210w, /images/brand-biasi@2x.png 420w"
				     alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-de-detich.png"
				     srcset="/images/brand-de-detich.png 210w, /images/brand-de-detich@2x.png 420w"
				     alt="">
			</div>
			
			<div class="brands__item">
				<img src="/images/brand-electrolux.png"
				     srcset="/images/brand-electrolux.png 210w, /images/brand-electrolux@2x.png 420w"
				     alt="">
			</div>
		</div>
	</div>
</div>