<div class="bread-crum">
    <div class="container">
        <div class="bread-crum--prev" href="#">
            <div class="bread-crum--prev__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="11.807" height="5.398" viewBox="0 0 11.807 5.398">
                    <path id="Path_128" data-name="Path 128" d="M0,0,4.516,3.011,9.033,0"
                        transform="translate(1.387 1.387)" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                </svg>
            </div>
            <a href="#" class="bread-crum--prev__link">
                Котлы отопления
            </a>
        </div>
        <ol itemscope class="bread-crum--list" itemtype="http://#.org/BreadcrumbList">
            <li class="bread-crum--list--itemElement" itemprop="itemListElement" itemscope
                itemtype="http://#.orgListItem">
                <a class="bread-crum--list--itemElement__item" itemprop="item" href="/">
                    <span itemprop="name">Каталог</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="bread-crum--list--itemElement" itemprop="itemListElement" itemscope
                itemtype="http://#.org/ListItem">
                <a class="bread-crum--list--itemElement__item" itemprop="item" href="#">
                    <span itemprop="name">Системы отопления и водоснабжения</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="bread-crum--list--itemElement" itemprop="itemListElement" itemscope
                itemtype="http://#.org/ListItem">
                <a class="bread-crum--list--itemElement__item" itemprop="item" href="#">
                    <span itemprop="name">Котлы отопления</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li class="bread-crum--list--itemElement" itemprop="itemListElement" itemscope
                itemtype="http://#.org/ListItem">
                <div class="bread-crum--list--itemElement__item" itemprop="item" href="#">
                    <span itemprop="name">Настенный конденсационный газовый котел De Dietrich Innovens MCA</span></div>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>