<div class="catalog-item">
	<div class="catalog-item__head" data-catalog-item-toggle>Котлы отопления</div>
	
	<div class="catalog-item__body" data-catalog-item-body>
		<div class="catalog-item-text">
			<div class="catalog-item-text__unit">
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Настенные классические газовые котлы</a>
				</div>
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Настенные конденсационные газовые котлы</a>
				</div>
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Напольные конденсационные газовые котлы</a>
				</div>
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Напольные атмосферные газовые котлы</a>
				</div>
			</div>
			
			<div class="catalog-item-text__unit">
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Напольные наддувные газовые котлы</a>
				</div>
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Электрические котлы</a>
				</div>
				<div class="catalog-item-text__item-wrap">
					<a href="#" class="catalog-item-text__item">Твердотопливные котлы</a>
				</div>
			</div>
		</div>
		
		<a href="#" class="btn btn--primary catalog-item__btn">Каталог</a>
	</div>
	
	<div class="catalog-item__img">
		<img src="/images/catalog-item.png" alt="">
	</div>
</div>