<div class="doc-slider-wrap">
	<div class="container">
		<div class="block-title block-title--mobile-center">Сертификаты</div>
		
		<div class="doc-slider">
			<div class="custom-slick-arrow custom-slick-arrow--prev doc-slider-arrow doc-slider-arrow--prev" data-doc-slider-prev>
				<svg xmlns="http://www.w3.org/2000/svg" width="58.684" height="58.684" viewBox="0 0 58.684 58.684">
					<g id="Group_459" data-name="Group 459" transform="translate(-7.825)">
						<circle id="Ellipse_31" data-name="Ellipse 31" cx="29.342" cy="29.342" r="29.342"
						        transform="translate(7.825)" fill="#fff"/>
						<g id="Group_184" data-name="Group 184" transform="translate(31.298 17.996)">
							<path id="Path_77" data-name="Path 77" d="M405.99-193.142l-7.825,11.737,7.825,11.737"
							      transform="translate(-398.166 193.142)" fill="none" stroke="#fa0" stroke-linecap="round"
							      stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/>
						</g>
					</g>
				</svg>
			</div>
			<div class="custom-slick-arrow custom-slick-arrow--next doc-slider-arrow doc-slider-arrow--next" data-doc-slider-next>
				<svg xmlns="http://www.w3.org/2000/svg" width="58.684" height="58.684" viewBox="0 0 58.684 58.684">
					<g id="Group_459" data-name="Group 459" transform="translate(-7.825)">
						<circle id="Ellipse_31" data-name="Ellipse 31" cx="29.342" cy="29.342" r="29.342"
						        transform="translate(7.825)" fill="#fff"/>
						<path id="Path_77" data-name="Path 77" d="M7.825,0,0,11.737,7.825,23.474"
						      transform="translate(41.47 41.47) rotate(180)" fill="none" stroke="#fa0"
						      stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/>
					</g>
				</svg>
			</div>
			
			
			<div class="doc-slider-carousel" data-doc-slider>
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w"
							     alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
				
				<div class="doc-slider-carousel-item-wrap">
					<a href="/images/sertificate-full.jpg" data-fancybox="doc-slider" class="doc-slider-carousel-item">
						<div class="doc-slider-carousel-item__img">
							<img src="/images/sertificate-preview.jpg"
							     srcset="/images/sertificate-preview.jpg 179w, /images/sertificate-preview@2x.jpg 355w" alt="">
						</div>
						
						<div class="doc-slider-carousel-item__icon">
							<img src="/images/loupe.svg" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="custom-slick-dots doc-slider-dots" data-doc-slider-dots></div>
</div>