<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AK site</title>
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<main>
		<header class="header">
			<div class="header-top-wrap">
				<div class="container">
					<div class="header-top">
						<a href="/" class="header-top-logo" title="Aтмосфера комфорта">
							<img src="/images/logo.svg" alt="">
						</a>

						<div class="header-top-left-unit">
							<div class="header-top-left-unit-chooser" data-region-toggle>
								<svg xmlns="http://www.w3.org/2000/svg" width="11.033" height="5.213"
									viewBox="0 0 11.033 5.213">
									<path id="Path_128" data-name="Path 128"
										d="M-741.984-16.834l4.516,3.011,4.517-3.011"
										transform="translate(742.984 17.834)" fill="none" stroke="#fff"
										stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
								</svg>

								<span>Москва и область</span>
							</div>

							<a href="tel:+74952150212" class="header-top-left-unit__phone">+7 (495) 215-02-12</a>
						</div>

						<div class="header-top-right-unit">
							<div class="header-top-right-unit-menu">
								<a href="/contacts" class="header-top-right-unit-menu__item">Контакты</a>
								<a href="/about" class="header-top-right-unit-menu__item">О компании</a>
								<a href="/services" class="header-top-right-unit-menu__item">Услуги</a>
								<a href="/actions" class="header-top-right-unit-menu__item">Акции</a>
								<a href="/catalog" class="header-top-right-unit-menu__item">Каталог</a>
							</div>

							<div class="header-top-right-unit__search" data-search-toggle>
								<svg xmlns="http://www.w3.org/2000/svg" width="20.8" height="20.847"
									viewBox="0 0 20.8 20.847">
									<g id="Group_218" data-name="Group 218" transform="translate(721.95 4.667)">
										<ellipse id="Ellipse_54" data-name="Ellipse 54" cx="7.34" cy="7.36" rx="7.34"
											ry="7.36" transform="translate(-720.95 -3.667)" fill="none" stroke="#fff"
											stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
										<line id="Line_77" data-name="Line 77" x2="5.856" y2="5.869"
											transform="translate(-708.42 8.897)" fill="none" stroke="#fff"
											stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
									</g>
								</svg>
							</div>

							<a href="/basket" class="header-top-right-unit-basket">
								<svg xmlns="http://www.w3.org/2000/svg" width="24.909" height="20.475"
									viewBox="0 0 24.909 20.475">
									<g id="корзина" transform="translate(684.507 5.688)">
										<path id="Path_123" data-name="Path 123"
											d="M-663.448,13.787h-17.21a1,1,0,0,1-.983-.817l-1.845-9.937a1,1,0,0,1,.983-1.182h20.9a1,1,0,0,1,.983,1.182l-1.844,9.937A1,1,0,0,1-663.448,13.787Z"
											fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2" />
										<path id="Path_124" data-name="Path 124"
											d="M-678.38,2.348c0-3.284,2.885-7.036,6.444-7.036s6.445,3.752,6.445,7.036"
											fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2" />
										<g id="Group_216" data-name="Group 216">
											<line id="Line_74" data-name="Line 74" y2="4.172"
												transform="translate(-677.168 5.733)" fill="none" stroke="#fff"
												stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
											<line id="Line_75" data-name="Line 75" y2="4.172"
												transform="translate(-672.053 5.733)" fill="none" stroke="#fff"
												stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
											<line id="Line_76" data-name="Line 76" y2="4.172"
												transform="translate(-666.937 5.733)" fill="none" stroke="#fff"
												stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
										</g>
									</g>
								</svg>

								<div class="header-top-right-unit-basket__quantity">3</div>
							</a>

							<div class="header-top-right-unit__hamburger" data-menu-toggle>
								<svg width="27" height="16" viewBox="0 0 27 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1H26" stroke="white" stroke-width="2" stroke-miterlimit="10"
										stroke-linecap="round" />
									<path d="M1 8H26" stroke="white" stroke-width="2" stroke-miterlimit="10"
										stroke-linecap="round" />
									<path d="M1 8H26" stroke="white" stroke-width="2" stroke-miterlimit="10"
										stroke-linecap="round" />
									<path d="M1 15H26" stroke="white" stroke-width="2" stroke-miterlimit="10"
										stroke-linecap="round" />
								</svg>

								<svg width="22" height="22" viewBox="0 0 22 22" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
										<path d="M1.41406 1.41394L20.4141 20.4139" stroke="white" stroke-width="2"
											stroke-linecap="round" />
										<path d="M20.4141 1.41394L1.41406 20.4139" stroke="white" stroke-width="2"
											stroke-linecap="round" />
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="21.828" height="21.828" fill="white" />
										</clipPath>
									</defs>
								</svg>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bottom-wrap">
				<div class="container">
					<div class="header-bottom">
						<a href="/" class="header-bottom-logo">
							<img src="/images/logo.svg" alt="">
						</a>

						<div class="header-bottom-menu">
							<a href="../product-offer/" class="header-bottom-menu__item">Отопление</a>
							<a href="../product-offer/" class="header-bottom-menu__item active">Водоснабжение</a>
							<a href="#" class="header-bottom-menu__item">Системы очистки воды</a>
							<a href="#" class="header-bottom-menu__item">Арматура и трубы</a>
							<a href="#" class="header-bottom-menu__item">Запчасти</a>
							<a href="#" class="header-bottom-menu__item">Сопутствующие товары</a>
							<a href="#" class="header-bottom-menu__item">Распродажа</a>
						</div>
					</div>
				</div>
			</div>

			<div class="header-tablet-row">
				<div class="container">
					<div class="header-tablet-row-top">
						<div class="header-tablet-row-top-chooser" data-region-toggle>
							<svg xmlns="http://www.w3.org/2000/svg" width="11.033" height="5.213"
								viewBox="0 0 11.033 5.213">
								<path id="Path_128" data-name="Path 128" d="M-741.984-16.834l4.516,3.011,4.517-3.011"
									transform="translate(742.984 17.834)" fill="none" stroke="#fff"
									stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
							</svg>

							<span>Москва и область</span>
						</div>
					</div>

					<div class="header-tablet-row-menu">
						<a href="/contacts" class="header-tablet-row-menu__item">Контакты</a>
						<a href="/about" class="header-tablet-row-menu__item">О компании</a>
						<a href="/services" class="header-tablet-row-menu__item">Услуги</a>
						<a href="/actions" class="header-tablet-row-menu__item">Акции</a>
						<a href="/catalog" class="header-tablet-row-menu__item">Каталог</a>
					</div>
				</div>
			</div>
		</header>
		@@include('../components/popup-region.html')
		<div class="mobile-menu-wrap">
			<div class="container">
				<div class="mobile-menu">
					<div class="mobile-menu-search" data-search-toggle>
						<svg xmlns="http://www.w3.org/2000/svg" width="20.8" height="20.847" viewBox="0 0 20.8 20.847">
							<g id="Group_234" data-name="Group 234" transform="translate(5 1)">
								<ellipse id="Ellipse_54" data-name="Ellipse 54" cx="7.34" cy="7.36" rx="7.34" ry="7.36"
									transform="translate(-4)" fill="none" stroke="#fff" stroke-linecap="round"
									stroke-miterlimit="10" stroke-width="2" />
								<line id="Line_77" data-name="Line 77" x2="5.856" y2="5.869"
									transform="translate(8.53 12.564)" fill="none" stroke="#fff" stroke-linecap="round"
									stroke-miterlimit="10" stroke-width="2" />
							</g>
						</svg>
					</div>

					<div class="mobile-menu-middle">
						<a href="tel:+74952150212" class="mobile-menu-middle__phone">+7 (495) 215-02-12</a>

						<div class="mobile-menu-middle-chooser" data-region-toggle>
							<svg xmlns="http://www.w3.org/2000/svg" width="11.033" height="5.213"
								viewBox="0 0 11.033 5.213">
								<path id="Path_128" data-name="Path 128" d="M-741.984-16.834l4.516,3.011,4.517-3.011"
									transform="translate(742.984 17.834)" fill="none" stroke="#fff"
									stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
							</svg>

							<span>Москва и область</span>
						</div>
					</div>

					<div class="mobile-menu-menu">
						<a href="/contacts" class="mobile-menu-menu__item">Контакты</a>
						<a href="/about" class="mobile-menu-menu__item">О компании</a>
						<a href="/services" class="mobile-menu-menu__item">Услуги</a>
						<a href="/actions" class="mobile-menu-menu__item">Акции</a>
						<a href="/catalog" class="mobile-menu-menu__item">Каталог</a>
					</div>
				</div>
			</div>
		</div>