<div class="header-search-wrap">
	<div class="container">
		<div class="header-search @@extra-classes">
			<form class="header-search__field">
				<input type="text"
				       required
				       name="search_query"
				       placeholder="@@placeholder"
				       onfocus="this.placeholder=''"
				       onblur="this.placeholder='Поиск оборудования'"
				       class="header-search__input">
				
				<button type="submit" class="btn btn--primary header-search__btn">Найти</button>
			</form>
		</div>
	</div>
</div>