<div class="instruction">
    <a href="#" class="instruction__link-wrap">
        <div class="instruction__tech-info">
            <div class="instruction__doc-type">
                <i class="instruction__doc-type--icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Path_53" data-name="Path 53"
                            d="M20,2H8A2.006,2.006,0,0,0,6,4V16a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V4A2.006,2.006,0,0,0,20,2ZM11.5,9.5A1.5,1.5,0,0,1,10,11H9v2H7.5V7H10a1.5,1.5,0,0,1,1.5,1.5Zm5,2A1.5,1.5,0,0,1,15,13H12.5V7H15a1.5,1.5,0,0,1,1.5,1.5Zm4-3H19v1h1.5V11H19v2H17.5V7h3ZM9,9.5h1v-1H9ZM4,6H2V20a2.006,2.006,0,0,0,2,2H18V20H4Zm10,5.5h1v-3H14Z"
                            transform="translate(-2 -2)" fill="#ffa200" />
                    </svg>
                </i>
                <p class="instruction__doc-type--descr">
                    Инструкция
                </p>
            </div>
            <div class="instruction__size-wrap">
                <p class="instruction__size-text">
                    1,67 mb
                </p>
            </div>
        </div>
        <div class="instruction__description">
            <p class="instruction__description-text">
                De Dietrich Innovens MCA 15
                Инструкция по эксплуатации котла
            </p>
        </div>
    </a>
</div>