<div class="main-offer">
    <div class="container">
        <div class="main-offer--title-wrap">
            <h1 class="main-offer__main-title">
                Настенный конденсационный газовый
                котел De Dietrich Innovens MCA
            </h1>
            <h2 class="main-offer__subtitle">
                Максимальная мощность при минимальных размерах!
            </h2>
            <div class="main-offer__img">
                <img src="/images/gas.png" srcset="/images/gas.png 338w, /images/gas@2x.png 676w" alt="offer">
            </div>
            <ul class="main-offer--list-advance">
                <li class="main-offer--list-advance__item">Мощности от 3.4 до 35.9 кВт</li>
                <li class="main-offer--list-advance__item">Работают на природном газе или пропане</li>
                <li class="main-offer--list-advance__item">2 панели управления - для простого регулированияили
                    многофункциональная погодозависимая iSystem*</li>
                <li class="main-offer--list-advance__item">Бесшумная работа</li>
                <li class="main-offer--list-advance__item">Литой моноблочный теплообменник из алюминия с кремнием
                </li>
                <li class="main-offer--list-advance__item">Возможны различные варианты по подсоединению забора
                    воздуха и
                    отвода продуктов сгорания</li>
                <li class="main-offer--list-advance__item">Возможность каскадного соединения до 10 котлов!</li>
            </ul>
        </div>
        <hr class="main-offer__line">
        <div class="main-offer--info">
            <i class="main-offer__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="20.5" viewBox="0 0 20.5 20.5">
                    <g id="Group_253" data-name="Group 253" transform="translate(600.684 3.247)">
                        <path id="Path_132" data-name="Path 132"
                            d="M-590.434,16.253A9.25,9.25,0,0,1-599.684,7a9.25,9.25,0,0,1,9.25-9.25A9.25,9.25,0,0,1-581.184,7"
                            fill="none" stroke="#2b5ba4" stroke-miterlimit="10" stroke-width="2" />
                        <path id="Path_133" data-name="Path 133" d="M-581.184,7a9.251,9.251,0,0,1-9.25,9.25" fill="none"
                            stroke="#2b5ba4" stroke-miterlimit="10" stroke-width="2" />
                        <line id="Line_88" data-name="Line 88" y1="7.5" transform="translate(-590.684 5.253)"
                            fill="none" stroke="#2b5ba4" stroke-linecap="round" stroke-miterlimit="10"
                            stroke-width="2" />
                        <line id="Line_89" data-name="Line 89" y1="0.5" transform="translate(-590.684 1.753)"
                            fill="none" stroke="#2b5ba4" stroke-linecap="round" stroke-miterlimit="10"
                            stroke-width="2" />
                    </g>
                </svg>
            </i>
            <small class="main-offer--info__text">
                Гарантийный период на оборудование составляет: 2 года на все оборудование,
                с момента ввода в эксплуатацию,
                если со дня покупки оборудования прошло не более 6 месяцев.
                Если дату ввода оборудования в эксплуатацию установить невозможно, гарантийный срок исчисляется с
                момента продажи.
            </small>
        </div>
    </div>
</div>