<a href="#" class="offer-card @@unactive">
    <small class="offer-card__number">
        10013600
    </small>
    <img src="/images/card-offer.png" srcset="/images/card-offer.png 289w, /images/card-offer@2x.png 578w" alt="gas" class="offer-card__img">
    <h1 class="offer-card__title">
        Настенный конденсационный двухконтурный газовый котел и ГВС
        с пластинчатым теплообменником
        De Dietrich Innovens MCA 25/28 MI
    </h1>
    <div class="offer-card--power">
        <h2 class="offer-card--power__title">
            Мощность (кВт)
        </h2>
        <p class="offer-card--power__text">
            5.60 кВт - 25.50 кВт
        </p>
    </div>
    <div class="offer-card--bottom">
        <p class="offer-card--bottom__price">
            129 658 ₽
        </p>
        <div class="offer-card--bottom__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.909" height="20.475" viewBox="0 0 24.909 20.475">
                <g id="корзина" transform="translate(684.507 5.688)">
                    <path id="Path_123" data-name="Path 123"
                        d="M-663.448,13.787h-17.21a1,1,0,0,1-.983-.817l-1.845-9.937a1,1,0,0,1,.983-1.182h20.9a1,1,0,0,1,.983,1.182l-1.844,9.937A1,1,0,0,1-663.448,13.787Z"
                        fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2" />
                    <path id="Path_124" data-name="Path 124"
                        d="M-678.38,2.348c0-3.284,2.885-7.036,6.444-7.036s6.445,3.752,6.445,7.036" fill="none"
                        stroke="#fff" stroke-miterlimit="10" stroke-width="2" />
                    <g id="Group_216" data-name="Group 216">
                        <line id="Line_74" data-name="Line 74" y2="4.172" transform="translate(-677.168 5.733)"
                            fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                        <line id="Line_75" data-name="Line 75" y2="4.172" transform="translate(-672.053 5.733)"
                            fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                        <line id="Line_76" data-name="Line 76" y2="4.172" transform="translate(-666.937 5.733)"
                            fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
</a>