<div class="pagination">
    <div class="pagination__total-pages">189 товаров</div>

    <div class="pagination-nav">
        <div class="pagination-nav__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.794" height="6.397" viewBox="0 0 13.794 6.397">
                <path id="Path_128" data-name="Path 128" d="M0,0,5.5,4,11,0" transform="translate(1.397 1.397)" fill="none" stroke="#ffa200" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
        </div>

        <div class="pagination-nav-digits">
            <span class="pagination-nav-digits__item pagination-nav-digits__item--current">1</span>
            <a href="#" class="pagination-nav-digits__item">2</a>
            <a href="#" class="pagination-nav-digits__item">3</a>
            <a href="#" class="pagination-nav-digits__item">4</a>
            <a href="#" class="pagination-nav-digits__item">5</a>
        </div>

        <div class="pagination-nav__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.794" height="6.397" viewBox="0 0 13.794 6.397">
                <path id="Path_128" data-name="Path 128" d="M0,0,5.5,4,11,0" transform="translate(1.397 1.397)" fill="none" stroke="#ffa200" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
        </div>
    </div>
</div>