<div class="container">
    <div class="parts-catalog">
        <div class="parts-catalog-top-nav">
            @@include('./pagination.html')
            <div class="block-margin"></div>
        </div>


        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')

        @@include('./parts-catalog-item.html')


        <div class="block-margin"></div>
        @@include('./pagination.html')
    </div>
</div>