<a href="#" class="parts-catalog-item">
    <div class="parts-catalog-item__name">
        <div class="parts-catalog-item__code">100013600</div>
        <div class="parts-catalog-item__title">Окрашенный стальной ниппель диам.125/105</div>
        <div class="parts-catalog-item__mobile-price">116 703 ₽</div>
    </div>

    <div class="parts-catalog-item__data">
        <div class="parts-catalog-item__country">Германия</div>
        <div class="parts-catalog-item__manufacturer">De Dietrich</div>
    </div>

    <div class="parts-catalog-item__badge">
        <div class="parts-catalog-item__price">116 703 ₽</div>
        <div class="parts-catalog-item__basket" data-add-to-basket>
            <img src="/images/add-to-basket.svg" alt="">
        </div>
    </div>
</a>