<div class="popup-region">
    <div class="popup-region__wrap">
        <div class="container">
            <div class="popup-region__content">
                <h1 class="popup-region__title">
                    Выберите регион
                </h1>
                <ul class="popup-region__list">
                    <li class="popup-region__item"><a href="#">Москва и область</a></li>
                    <li class="popup-region__item"><a href="#">Казань</a></li>
                </ul>
                <div class="popup-region__close-wrap">
                        <button class="btn popup-region__btn-close" id="popup-region--close-btn">
                            Закрыть
                        </button>
                </div>
            </div>

        </div>
    </div>
</div>