<div class="container">
    <div class="projects-grid">
        <div class="projects-grid__item">
            <div class="projects-slider-item-wrap">
                <a href="#" class="projects-slider-item">
                    <div class="projects-slider-item__img">
                        <img src="/images/projects-slider-1.svg" alt="">
                    </div>

                    <div class="projects-slider-item__info">
                        <div class="projects-slider-item__data">
                            Загородный дом: 300 м², <br>
                            Гостевой дом: 80 м² <br>
                            и Гаражный комплекс: 60 м²
                        </div>

                        <div class="projects-slider-item__characteristics">
                            Кондиционирование, отопление, <br>
                            тёплые полы
                        </div>

                        <div class="projects-slider-item__time">
                            30 рабочих дней
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects-grid__item">
            <div class="projects-slider-item-wrap">
                <a href="#" class="projects-slider-item">
                    <div class="projects-slider-item__img">
                        <img src="/images/projects-slider-2.svg" alt="">
                    </div>

                    <div class="projects-slider-item__info">
                        <div class="projects-slider-item__data">
                            Загородный дом: 300 м², <br>
                            Гостевой дом: 80 м² <br>
                            и Гаражный комплекс: 60 м²
                        </div>

                        <div class="projects-slider-item__characteristics">
                            Кондиционирование, отопление, <br>
                            тёплые полы
                        </div>

                        <div class="projects-slider-item__time">
                            30 рабочих дней
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects-grid__item">
            <div class="projects-slider-item-wrap">
                <a href="#" class="projects-slider-item">
                    <div class="projects-slider-item__img">
                        <img src="/images/projects-slider-2.svg" alt="">
                    </div>

                    <div class="projects-slider-item__info">
                        <div class="projects-slider-item__data">
                            Загородный дом: 300 м², <br>
                            Гостевой дом: 80 м² <br>
                            и Гаражный комплекс: 60 м²
                        </div>

                        <div class="projects-slider-item__characteristics">
                            Кондиционирование, отопление, <br>
                            тёплые полы
                        </div>

                        <div class="projects-slider-item__time">
                            30 рабочих дней
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects-grid__item">
            <div class="projects-slider-item-wrap">
                <a href="#" class="projects-slider-item">
                    <div class="projects-slider-item__img">
                        <img src="/images/projects-slider-1.svg" alt="">
                    </div>

                    <div class="projects-slider-item__info">
                        <div class="projects-slider-item__data">
                            Загородный дом: 300 м², <br>
                            Гостевой дом: 80 м² <br>
                            и Гаражный комплекс: 60 м²
                        </div>

                        <div class="projects-slider-item__characteristics">
                            Кондиционирование, отопление, <br>
                            тёплые полы
                        </div>

                        <div class="projects-slider-item__time">
                            30 рабочих дней
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="projects-grid__item">
            <div class="projects-slider-item-wrap">
                <a href="#" class="projects-slider-item">
                    <div class="projects-slider-item__img">
                        <img src="/images/projects-slider-1.svg" alt="">
                    </div>

                    <div class="projects-slider-item__info">
                        <div class="projects-slider-item__data">
                            Загородный дом: 300 м², <br>
                            Гостевой дом: 80 м² <br>
                            и Гаражный комплекс: 60 м²
                        </div>

                        <div class="projects-slider-item__characteristics">
                            Кондиционирование, отопление, <br>
                            тёплые полы
                        </div>

                        <div class="projects-slider-item__time">
                            30 рабочих дней
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>