<div class="projects-card">

    <div class="projects-card__img-side">
        <img src="#" alt="project" class="projects-card__img-side--img">
    </div>

    <div class="projects-card__info-side">
        <h2 class="projects-card__info-side--title">
            Загородный дом: 300 м²,<br>
            Гостевой дом: 80 м²<br>
            и Гаражный комплекс: 60 м²<br>
        </h2>
        <p class="projects-card__info-side--text">
            Кондиционирование, отопление,
            тёплые полы
        </p>
        <strong class="projects-card__info-side--deadline">
            30 рабочих дней
        </strong>
    </div>

</div>