<div class="temp-wrap">
    <div class="container">
        <div class="special-offer">
            <h1 class="special-offer__main-title">
                Спецпредложения:
            </h1>

            <div class="special-offer__slider">
                <div class="custom-slick-arrow custom-slick-arrow--prev special-offer__slider-arrow special-offer__slider-arrow--prev"
                    data-so-slider-prev>
                    <svg xmlns="http://www.w3.org/2000/svg" width="58.684" height="58.684" viewBox="0 0 58.684 58.684">
                        <g id="Group_459" data-name="Group 459" transform="translate(-7.825)">
                            <circle id="Ellipse_31" data-name="Ellipse 31" cx="29.342" cy="29.342" r="29.342"
                                transform="translate(7.825)" fill="#fff" />
                            <g id="Group_184" data-name="Group 184" transform="translate(31.298 17.996)">
                                <path id="Path_77" data-name="Path 77" d="M405.99-193.142l-7.825,11.737,7.825,11.737"
                                    transform="translate(-398.166 193.142)" fill="none" stroke="#fa0"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    stroke-width="4" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="custom-slick-arrow custom-slick-arrow--next special-offer__slider-arrow special-offer__slider-arrow--next"
                    data-so-slider-next>
                    <svg xmlns="http://www.w3.org/2000/svg" width="58.684" height="58.684" viewBox="0 0 58.684 58.684">
                        <g id="Group_459" data-name="Group 459" transform="translate(-7.825)">
                            <circle id="Ellipse_31" data-name="Ellipse 31" cx="29.342" cy="29.342" r="29.342"
                                transform="translate(7.825)" fill="#fff" />
                            <path id="Path_77" data-name="Path 77" d="M7.825,0,0,11.737,7.825,23.474"
                                transform="translate(41.47 41.47) rotate(180)" fill="none" stroke="#fa0"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="4" />
                        </g>
                    </svg>
                </div>
                <div class="special-offer__carousel">
                    @@include('../components/sp-offer-card.html', {
                    "title": "Выгодная установка",

                    "text": ""
                    })
                    @@include('../components/sp-offer-card.html', {
                    "title": "Выгодная установка+",

                    "text": ""
                    })
                    @@include('../components/sp-offer-card.html', {
                    "title": "Выгодная установка++",

                    "text": ""
                    })

                    @@include('../components/sp-offer-card-img.html', {
                    "title": "Вместе дешевле!",

                    "text": ""
                    })

                    @@include('../components/sp-offer-card-img.html', {
                    "title": "Еще один вариант",

                    "text": ""
                    })
                </div>
                <div class="custom-slick-dots special-offer__slider-dots block-margin" data-so-slider-dots></div>
            </div>

            <div class="special-offer__notice">
                <i class="special-offer__notice-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="20.5" viewBox="0 0 20.5 20.5">
                        <g id="Group_253" data-name="Group 253" transform="translate(600.684 3.247)" opacity="0.6">
                            <path id="Path_132" data-name="Path 132"
                                d="M-590.434,16.253A9.25,9.25,0,0,1-599.684,7a9.25,9.25,0,0,1,9.25-9.25A9.25,9.25,0,0,1-581.184,7"
                                fill="none" stroke="#2b5ba4" stroke-miterlimit="10" stroke-width="2" />
                            <path id="Path_133" data-name="Path 133" d="M-581.184,7a9.251,9.251,0,0,1-9.25,9.25"
                                fill="none" stroke="#2b5ba4" stroke-miterlimit="10" stroke-width="2" />
                            <line id="Line_88" data-name="Line 88" y1="7.5" transform="translate(-590.684 5.253)"
                                fill="none" stroke="#2b5ba4" stroke-linecap="round" stroke-miterlimit="10"
                                stroke-width="2" />
                            <line id="Line_89" data-name="Line 89" y1="0.5" transform="translate(-590.684 1.753)"
                                fill="none" stroke="#2b5ba4" stroke-linecap="round" stroke-miterlimit="10"
                                stroke-width="2" />
                        </g>
                    </svg>
                </i>
                <p class="special-offer__notice-text">
                    Гарантийный период на оборудование составляет: 2 года на все оборудование, с момента ввода в
                    эксплуатацию, <br class="special-offer__notice-br">
                    если со дня покупки оборудования прошло не более 6 месяцев. Если дату ввода оборудования в
                    эксплуатацию <br class="special-offer__notice-br">
                    установить невозможно, гарантийный срок исчисляется с момента продажи.
                </p>
            </div>
        </div>
    </div>
</div>