<div class="container">
	<div class="visual-catalog">
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title">Водоснабжение</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-water.png"
				     srcset="/images/visual-catalog-water.png 450w, /images/visual-catalog-water@2x.png 900w"
				     alt="Водоснабжение">
			</div>
		</a>
		
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title">Отопление</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-warming.png"
				     srcset="/images/visual-catalog-warming.png 450w, /images/visual-catalog-warming@2x.png 900w"
				     alt="Отопление">
			</div>
		</a>
		
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title">Системы очистки воды</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-clearing.png"
				     srcset="/images/visual-catalog-clearing.png 450w, /images/visual-catalog-clearing@2x.png 900w"
				     alt="Системы очистки воды">
			</div>
		</a>
		
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title visual-catalog-item__title--desktop">Арматура, трубы и фитинги</div>
			<div class="visual-catalog-item__title visual-catalog-item__title--mobile">Арматура и трубы</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-diff.png"
				     srcset="/images/visual-catalog-diff.png 450w, /images/visual-catalog-diff@2x.png 900w"
				     alt="Арматура, трубы и фитинги">
			</div>
		</a>
		
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title">Сопутствующие товары</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-also.png"
				     srcset="/images/visual-catalog-also.png 450w, /images/visual-catalog-also@2x.png 900w"
				     alt="Сопутствующие товары">
			</div>
		</a>
		
		<a href="#" class="visual-catalog-item">
			<div class="visual-catalog-item__title">Запчасти</div>
			<div class="visual-catalog-item__img">
				<img src="/images/visual-catalog-parts.png"
				     srcset="/images/visual-catalog-parts.png 450w, /images/visual-catalog-parts@2x.png 900w"
				     alt="Запчасти">
			</div>
		</a>
	</div>
</div>