<div class="visual-page-title-wrap">
    <div class="container">

        <div class="visual-page-title">
            <div class="visual-page-title__inner">
                <h1 class="page-title visual-page-title__title">Котлы отопления</h1>

                <div class="visual-page-title__text">
                    <p>
                        Котел – это основной элемент системы отопления. Это теплообменник который нагревает теплоноситель (например, воду)
                        путем сжигания топлива (газ, жидкое или твердое топливо). Он позволяет нагревать воду и отапливать помещения.
                    </p>

                    <p>
                        Котлы делятся по конструкции на напольные и на настенные, а  по типу топлива на газовые, жидкотопливные, твердотопливные, электрические. Более подробно можете прочитать в нашей библиотеке
                    </p>
                </div>
            </div>

            <div class="visual-page-title__img">
                <img src="/images/boiler.png" alt="">
            </div>
        </div>
    </div>
</div>